[submodule "third_party/gwen"]
	path = third_party/gwen
	url = git@github.com:sgraham/gwen.git
[submodule "third_party/ninja"]
	path = third_party/ninja
	url = git://github.com/martine/ninja.git
[submodule "third_party/testing/gtest"]
	path = third_party/testing/gtest
	url = http://git.chromium.org/external/googletest.git
[submodule "third_party/base"]
	path = third_party/base
	url = http://git.chromium.org/chromium/src/base.git
