[submodule "third_party/ninja"]
	path = third_party/ninja
	url = git://github.com/martine/ninja.git
[submodule "third_party/testing/gtest"]
	path = third_party/testing/gtest
	url = https://chromium.googlesource.com/external/googletest
[submodule "third_party/base"]
	path = third_party/base
	url = https://chromium.googlesource.com/chromium/src/base
[submodule "third_party/freetype"]
	path = third_party/freetype
	url = git://git.sv.nongnu.org/freetype/freetype2.git
